.hover-drawers{
  width: 300px;
  height: 100px;
  .hover-drawer-open, .hover-drawer-close{
    transition: transform 0.6s ease;
    position: absolute;
    margin: auto;
    display: block;
    bottom: 0px;
    top: 0px;
    width: 100%;
    .hover-photo-helper{
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .hover-photo{
      width: 100%;
      vertical-align: middle;
    }
  }
  .hover-drawer-open{
    transform: translateX(0%);
  }
  .hover-drawer-close{
    transform: translateX(-100%);
  }
  
  .background-layer{
    background-color: #FFF;
  }
}