@import "src/global.scss";

.detail-page-info{
  padding: 20px;
  .detail-header{
    padding: 10px 5px;
    .header-title{
      font-size: $font-lg;
      display:inline-block;
      .header-subtitle{
        font-size: $font-sm;
        font-style: italic;
        text-align: right;
      }
    }
  }
  .detail-body{
    padding-top: 60px;
    .body-credit{
      font-size: $font-md;
    }
    .body-description{
      padding-top: 10px;
      font-size: $font-sm;
      .description-paragraph{
        padding-top: 5px;
      }
    }
  }
  .detail-footer{
    padding-top: 40px;
    display: flex;
    font-size: $font-md;
    .footer-year, .footer-location{
      width: 100%;
    }
  }
}