@import "src/global.scss";

.contact-page{
  display: flex;
  padding: 100px 2vw;
  
  .contact-title{
    font-size: $font-xxlg;
  }
  .contact-info{
    padding-left: 100px;
    .contact-item{
      font-size: $font-md;
      padding-top: 25px;
      .contact-type, .contact-content{
        display: inline;
      }
    }
  }
}