@import "src/global.scss";

.contact-page{
  padding: 100px 2vw;
  
  .contact-title{
    font-size: $font-xxlg;
  }
  .contact-info{
    // padding-left: 20px;
    .contact-item{
      font-size: $font-lg;
      padding-top: 25px;
      .contact-type, .contact-content{
        display: inline;
      }
      .contact-type{
        padding-right: 20px;
      }
    }
  }
}