@import "src/global.scss";

.about-page{
  padding: 0 2vw;
  display: flex;
  align-items: center;
  .about-content{
    width: 614px;
    min-width: 614px;
    padding-bottom: 70px;
    .about-text{
      word-wrap: break-word;
      font-size: $font-md;
    }
  }
  .about-image{
    padding-left: 115px;
    padding-top: 50px;
    img{
      max-width: 600px;
    }
  }
}