@import "src/global.scss";

.about-page{
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .about-content{
    width: 514px;
    min-width: 514px;
    padding-bottom: 70px;
    .about-text{
      word-wrap: break-word;
      line-height: 1.5;
      font-size: $font-xs;
      .contact-info{
        padding-top: 30px;
      }
    }
  }
  .about-image{
    padding-right: 30%;
    padding-left: 100px;
    img{
      max-width: 500px;
    }
  }
}