@import "src/global.scss";

.left-nav-items{
  padding: 70px 0px 20px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  .left-nav-item{
    // display: inline;
    padding: 3px 0;
    padding-top: 10px;
    user-select: none;
    cursor: pointer;
    color: #000;
    font-size: $font-md;
    &:hover> .left-nav-item-text, .left-nav-item-text:hover{
      transform: translateX(70px);
      color: $link-hover-color;
    }
    .left-nav-item-text{
      cursor: pointer;
      color:inherit;
      transition: transform 0.4s ease, color 0.4s;
    }
  }
}