@import "src/global.scss";

.top-nav{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  .top-nav-item{
    font-size: $font-lg;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.1s;
    &:hover{
      color: rgb(173, 219, 255);
    }
    .nav-item-text{
      padding: 0 20px;
      user-select: none;
    }
  }
}